body
{
	font-size: 120%;
	text-align: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}
input
{
	background-color: #baffba;
	font-size: 100%;
	padding: 20px;
}
button
{
	background-color: #8FBC8F;
	font-size: 80%;
	height: 30px;
	width: 100px;
	border-radius: 10px;
	
}
#button2
{
  font-size: 70%;
  height: 30px;
  width: auto;
  border-radius: 8px;
  background-color: #63aba6;
  color: black;
}
H4
{
	font-size: 150%;
	color: #73ff99;
	text-align: center;
}
hr
{
	line-height:1px; 
 	border-color: black;
 	width: 75%;
 	align-self: center;
}
.main-form-login
{
	width: 75%;
	padding: 2%;
	z-index: 9;
	
}
.form-popup {
  display: none;
  position: absolute;
  top: 0px;
  right: 15px;
  border: 3px solid black;
  z-index: 9;
  width: 40%;
  padding: 50px;
  background-color: #8FBC8F;
  /*cursor: move;*/
}
.close-form 
{
  top: 0;
  right: 5%;
  font-size: 200%;
  margin-left: 90%;
  color:#006b00;
}
#login-form
{
	width:40%;
	height:50%;
	justify-content: center;
	background: linear-gradient(to bottom right, #006600 0%, #ccff99 100%);
	border: 5px solid black;
	align-self: center;
}